<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="test"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.mkalugin.pikachu.plugins.sync.basecamp.Main">
         </run>
      </application>
   </extension>
   <extension
         point="com.kalugin.plugins.sync.api.sourceFactories">
      <sourceFactory
            class="com.mkalugin.basecamp.BasecampSourceFactory">
      </sourceFactory>
   </extension>

</plugin>
